/* CSS for Flexbox project website */


/* Type Selectors (include grouping) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors (single class) */

/* Flexbox */
.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
}

.menu {
    border: 1px solid #fff;
    width: 900px;
}

/* Chaining & Grouping Class Selectors (multiple classes) */


/* ID Selectors */


/* Combinators */

